<div class="profile">
    <form action="">
        <div class="upper">
            <h1>Create your avatar...</h1>
            <div class="field">
                <input type="file" name="file" id="file" class="inputfile" />
                <label for="file"></label>
            </div>
        </div>
        <div class="lower">
            <div class="buttons">
                <button class="button is-outline">Back</button>
                <button class="button is-volcano">Next</button>
            </div>
            <span>With &hearts; from Muscodeers</span>
        </div>
    </form>
</div>