<div class="profile">
    <form action="">
        <div class="upper">
            <h1>Create your avatar...</h1>
            <div class="field">
                <input class="input" type="text" placeholder="Type here...">
            </div>
        </div>
        <div class="lower">
            <div class="buttons">
                <button class="button is-outline">Back</button>
                <button class="button is-volcano">Next</button>
            </div>
            <span>With &hearts; from Muscodeers</p>
        </div>
    </form>
</div>