<div class="profile">
    <form action="">
        <div class="upper">
            <h1>Welcome to the lobby...</h1>
            <h2>where the magic happens</h2>
            <div class="avatars">
                <div class="avatar-wrapper">
                    <div class="avatar">
                        <img src="." alt="avatar" height="84" width="84">
                        <div class="arrow-down"></div>
                    </div>
                    <h3 class="avatar-name">Questionkiller96</h3>
                </div>
                <div class="avatar-wrapper">
                    <div class="avatar">
                        <img src="." alt="avatar" height="84" width="84">
                        <div class="arrow-down"></div>
                    </div>
                    <h3 class="avatar-name">Questionkiller96</h3>
                </div>
            </div>
        </div>
        <div class="lower">
            <span>With &hearts; from Muscodeers</span>
        </div>
    </form>
</div>