/*------------------*
# Base
*------------------*/


html {
    box-sizing: border-box;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: 1.5;
    overflow-y: scroll;
    min-height: 100%;
    word-wrap: break-word;
    background: gray;
}

* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    align-items: stretch;
    display: block;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

/*------------------*
# Buttons
*------------------*/

.button {
    font-size: $h5-size;
    font-weight: bold;
    color: $color-white;
    padding: 30px 120px;
    border-radius: 10px;
    outline: none;
    border-color: transparent;

    &:hover {
        color: $color-white;
        border-color: transparent;
    }

    &:focus {
        outline: none;
        border-color: transparent;
        color: $color-white;
    }
}

.is-volcano {
    background: $color-volcano;
}

.is-outline {
    color: $color-white;
    background: none;
    border-color: $color-white; 

    &:hover {
        border-color: $color-white;
    }
}

/*------------------*
# Inputs
*------------------*/

input.input {
    font-size: $h2-size;
    color: $color-dark;
    text-align: center;
    padding: 18px 0;
    border-radius: 12px;
    border: solid 1px $color-white;
    font-weight: normal;
    max-width: 569px;

    &::placeholder {
        color: $color-cloud;
    }

    &:focus {
        outline: none;
        border-color: $color-calm;
    }
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: black;
    background-color: $color-white;
    display: inline-block;
    height: 214px;
    width: 214px;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 100px;

    &:after {
        content: '';
        background-image: url('src/assets/img/camera.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        transform: translateX(-50%);
        left: 50%;
    }
}

//.circle {
//    font-size: 1.25em;
//    height: 80px;
//    width: 80px;
//    border: 1px dashed #3DAE77;
//    border-radius: 100%;
//    position: absolute;
//    bottom: 2px;
//    right: 2px;
//}

.avatars {
    display: flex;
}

.avatar {
    max-width: 84px;
    margin: 20px;

    img {
        height: 84px;
        width: 84px;
        border-radius: 100%;
        background: $color-white;
    }
}

.avatar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 20px;

}

.avatar-name {
    margin-top: 10px;
    font-weight: bold;
    color: $color-energy;

}

.arrow-down {
    width: 84px;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 124px solid $color-energy-2;
    border-radius: 30px;
}
