/*------------------*
# Main Content
*------------------*/

.main-content {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
    width: 100%;

    &.profile-page {
        background: $color-cosmos;
    }

    &.question-page {
        background: $color-balance;
    }
}

.container {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
}

.profile, .questions {
    display: flex;
    flex-direction: column;

    form {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .upper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;

        input {
            margin-top: 100px;
        }

    }

    .lower {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        span {
            margin-top: 60px;
        }
    }

    &.counter {

        .count-wrapper {
            display: flex;
            justify-content: center;
        }

        .count {
            font-size: 288px;
            font-weight: bold;
            color: $color-white;
            margin-top: 200px;
            background: $color-balance;
            border-radius: 100%;
            width: 354px;
            height: 354px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            p {
                z-index: 2;
            }

            &.yellow {
                background: $color-energy-2;
                border-radius: 22px;
            }

            &.red {

                &:after {
                    position: absolute;
                    content: '';
                    width: 354px;
                    height: 354px;
                    background: $color-danger;
                    border-radius: 22px;
                    transform: rotate(45deg);
                }
            }
        }
    }

    .timer {
        width: 226px;
        height: 136px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 48px;
        color: $color-dark;
        background: $color-white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    .question {
        font-size: 64px;
        margin: 134px 0;
    }

    .answers {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .answer {
            max-width: 520px;
            margin: 20px;
            width: 100%;
            min-height: 212px;
            background: $color-white;
            border-radius: 12px;
            border-bottom: $color-steel solid 17px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-weight: bold;
            flex: 0 0 50%;

            &:hover {
                border-bottom: $color-steel solid 8px;
            }

            &:active {
                border-bottom: $color-steel solid 0px;
            }

            &.selected {
                border: $color-cosmos solid 9px;

                .option {
                    background: $color-cosmos;
                    color: $color-white;
                }

                .text {
                    color: $color-cosmos;
                }
            }

            .option {
                color: $color-dark;
                background: $color-steel;
                font-size: 48px;
                margin-left: 50px;
                width: 81px;
                height: 81px;
                border-radius: 16px;

            }

            .text {
                color: $color-dark;
                font-size: 48px;
                margin-left: 45px;
            }

        }
    }
}

