/*------------------*
# Main Content
*------------------*/

.main-content {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
    width: 100%;

    &.profile-page {
        background: $color-cosmos;
    }
}

.container {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
}

.profile {
    display: flex;
    flex-direction: column;

    form {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .upper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;

        input {
            margin-top: 100px;
        }

    }

    .lower {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        span {
            margin-top: 60px;
        }
    }

    &.counter {

        .count-wrapper {
            display: flex;
            justify-content: center;
        }

        .count {
            font-size: 288px;
            font-weight: bold;
            color: $color-white;
            margin-top: 200px;
            background: $color-balance;
            border-radius: 100%;
            width: 354px;
            height: 354px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            p {
                z-index: 2;
            }

            &.yellow {
                background: $color-energy-2;
                border-radius: 22px;
            }

            &.red {

                &:after {
                    position: absolute;
                    content: '';
                    width: 354px;
                    height: 354px;
                    background: $color-danger;
                    border-radius: 22px;
                    transform: rotate(45deg);
                }
            }
        }
    }
}

